
@{
    ViewBag.Title = "SweetAlert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<br />
<button class="btn btn-primary" id="btn1">Button 1</button>
<button class="btn btn-outline-info" id="btn2">Button 2</button>
<button class="btn btn-outline-success" id="btn3">Button 3</button>


<script>
    $('#btn1').click(function () {
        swal("Merhaba Dünya");
    });
</script>

<script>
    $('#btn2').click(function () {
      swal("MVC PROJE KAMPI", "DERS 96!");
    });
</script>

<script>
    $('#btn3').click(function () {
        swal("İyi iş!", "Kursu Bitirdin", "success");
    });
</script>